{{#extends 'base'}}
{{#block 'title'}}Delete{{/block}}
{{#block 'content'}}

<h1>Delete Page</h1>

<div class="row">

    <form method="POST">
        <input type="text" name="username" placeholder="username" value="{{ data.username }}" disabled>
        <input type="submit" value="Remove">
        <a href="/" class="btn btn-secondary">Cancel</a>
    </form>
    
</div>

{{/block}}
{{/extends}}